<div class="row">
   <div class="column">
      <center>
      <figure class="panel-image">
         <a href="{{ include.url }}">
         <img src="{{ include.file }}" style="max-width: {{ include.max-width }};"
            alt="{{ include.alt }}"/>
         </a>
         <figcaption>{{ include.caption }}</figcaption>
      </figure>
      </center>
   </div>

   <div class="column">
      Course: <h1>{{ include.description }}</h1>
      <a href="{{include.link}}">
      <center>
         <h1>{{ include.title }}
         </h1>
         <h2><i>{{ include.subtitle }}</i></h2>
         <p>
            <h3> {{include.date}} </h3>
         </p>
      </center>
      </a>
   </div>
</div>


